<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimización de Ruta</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>TSP con Hill Climbing🚗</h1>
            
        </header>
        <main>
            <center>
            <form method="POST" action="/">
                <button type="submit" class="optimize-button">Optimizar Ruta</button>
            </form>
            </center>
            {% if ruta %}
            <div class="results">
                <h2>Resultados</h2>
                <div class="result-box">
                    <h3>Ruta Óptima</h3>
                    <p class="route">{{ ruta | join(" → ") }}</p>
                </div>
                <div class="result-box">
                    <h3>Distancia Total</h3>
                    <p class="distance">{{ distancia_total }} km</p>
                </div>
            </div>
            {% endif %}
        </main>
        <footer class="footer">
            <p>Raúl Ciriaco Castillo 3601 ISIC</p>
        </footer>
    </div>
</body>
</html>
